@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --main-brand: #7048e8;
}

.bgmain {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
.app {
  text-align: center;
}